// Place all the styles related to the Answers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.edit_answer{
  margin-top: 40px;
  margin-left: 70px;
  width: 60%;
  display: none;
}

.best_mark{
  margin-top: 5px;
  margin-left: 10px;
}

.row{
  padding-left: 10px;
  padding-rigth: 10px;
}
