// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.question-answer-block{
  margin-top: 10px;
  width: 100%;
}

.answer .btn{
  float: right;
}

.edit_question_link{
  margin: 10px;
}

.comment_question_link{
  margin: 10px;
}

.unsubscribe_question_link{
  margin: 10px;
}

.subscribe_question_link{
  margin: 10px;
}

.table td.author, .table td.number, .table td.delete, .table td.answers{
  vertical-align: middle;
  text-align: center;
}

.question_edit_form{
  display: none;
  position: fixed;
  z-index: 10;
  top: 250px;
  left: 250px;
  background-color: #CCCCFF;
  width: 550px;
  padding: 50px;
  padding-top: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.question_new_form{
  display: none;
  position: fixed;
  z-index: 10;
  top: 250px;
  left: 250px;
  background-color: #CCCCFF;
  width: 550px;
  padding: 50px;
  padding-top: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.question-block > .panel-body{
  padding: 0;
}

.question-block .text-body{
  padding-top: 15px;
}
